HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
.mvn
src/main/resources/application.yaml
src/test/java/splitmindq/caloriecounter/CalorieCounterApplicationTests.java
.gitattributes
mvnw.cmd
mvnw
google_checks.xml
checkstyle.xml
docker-compose.yml
db
.env
utils/EnvConfig.java
stdout
*.http
checkstyle-debug.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/